timm 
fire
yapf
cython 
protobuf 
opencv-python 
pybind11 
easydict 
terminaltables 
pytest-runner 
addict
imagecorruptions 
objgraph 
cachetools 
einops
pandas 
descartes 
matplotlib 
terminaltables
Pillow==6.2.1 
scikit-learn 
Shapely 
tqdm 
pyyaml 
requests 
nuscenes-devkit 
numba==0.53.1
pycocotools
spconv-cu114
